@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
html, body {
    font-family: 'Ubuntu', sans-serif;
}
nav.is-fixed {
    position: fixed;
    width: 100%;
}
.bg-landing {
    background: url('../img/bg.jpg') center;
    background-size: cover;
    /*filter: blur(5px);*/
}
.icon.is-xl {
    height: 162px;
    width: 162px;
}
.icon.is-xl .fa {
    font-size: 81px;
}
.icon.bg-circle:hover {
    background: rgb(26, 22, 78, 0);
    color: #000;
    border-radius: 100%;
    transition: height .3s;
}
.icon.bg-circle {
    background: rgb(26, 22, 78);
    color: #fff;
    border-radius: 100%;
}
.title.icon-tag {
    position: relative;
    margin-top: 229px;
    font-size: 36px;
    margin-left: -177px;
}
.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 62, 122, 0.5)
}
h1.slogan{
    font-size: 44px;
    line-height: 60px;
    padding: 40px 10px 20px;
    white-space: normal;
}
.padding-2rem {
    padding: 2rem;
}
a {
    color: #1a164e;
}
.is-primary {
    color: #1a164e;
}
.button.is-primary {
    background-color: #1a164e;
}
.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #1a164e;
    color: #1a164e;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #1a164e;
    color: #1a164e;
    padding-bottom: calc(0.75rem - 3px);
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: #1a164e;
}
.bg-light-gray {
    background-color: #fafafa;
}
.bg-gray {
    background-color: #424242;
}
.title-space {
    margin: 2rem 0 auto;
}
img.footer-logo {
    max-width: 60%;
}
.partner-logo img {
    max-width: 75%;
    margin: auto;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #1f1919;
    border-color: transparent;
    color: #fff;
}
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
    background-color: #1f1919;
    border-color: #1f1919;
    color: #fff;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom-color: #1f1919;
    border-top-color: transparent;
}
.menu-list a:hover {
    background-color: whitesmoke;
    color: #1f1919;
}
.caption {
    background: #fafafa;
    padding: 2rem;
}
.team figure.image {
    margin: auto;
}
.team figure.image img {
    border-radius: 100%;
}
.has-margin-top-5rem {
    margin-top: 5rem;
}
.panel-block.is-active {
    background: whitesmoke;
}
ul {
    list-style: inherit;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-left-60 {
    margin-left: 60px;
}
ul.none {
    list-style: none;
}
.margin-bottom {
    margin-bottom: 1.5rem;
}
.text-uppercase {
    text-transform: uppercase;
}
.gradient-1 {
    background: linear-gradient(to bottom, rgba(55, 58, 9, 0.73), rgba(1, 8, 1, 0.52)), url('/img/phone.jpg');
    color: #fff;
    background-size: cover;
    background-position: center;
}
.gradient-2 {
    background: linear-gradient(to bottom, rgba(13, 13, 95, 0.73), rgba(0, 0, 0, 0.52)), url('/img/img-2.jpg');
    color: #fff;
    background-size: cover;
    background-position: center;
}
.gradient-3 {
    color: white;
    background: linear-gradient(to bottom, rgba(29, 81, 97, 0.73), rgba(0, 0, 0, 0.52)), url('/img/img-5.jpg');
    background-position: center;
    background-size: cover;
}
.gradient-4 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/testimonial.jpg);
    background-position: center;
    background-size: cover;
}
.white-text {
    color: white !important;
}
.menu-list a {
    color: #fff;
}
.menu-list a:hover {
    background-color: transparent;
    color: #1a164e;
}
.margin-left {
    margin-left: 5rem;
}
.margin-right {
    margin-right: 5rem;
}
.nav-item img {
    max-height: 3rem;
}
.nav {
    height: 4.25rem;
}
.nav-font-size {
    font-size: 1.2rem;
}
.bg-1 {
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url(/img/desktop-2.jpg), center;
    color: #fff;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #40e0d0;
}
.has-text-white {
    color: #FFFFFF;
}
a:hover {
    color: #40e0d0;
}
.subtitle.custom {
    color: #4a4a4a;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5;
}
.has-text-justify {
    text-align: justify;
}
/*.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {*/
/*background-color: #40e0d0;*/
/*border-color: #1f1919;*/
/*color: #fff;*/
/*}*/
.notification.is-primary {
    background-color: #40e0d0;
    color: #fff;
    position: fixed;
    top: 6%;
    right: 0%;
    width: 30%;
    z-index: 99999;
    /* min-height: 100px; */
}
@media screen and (max-width: 768px) {
    .testimonial article p{
        text-align: justify;
    }
    .title.is-1 {
        font-size: 2.5rem;
    }
    .subtitle.is-4 {
        font-size: 1.2rem;
    }
    .margin-left {
        margin-left: .5rem;
    }
    .margin-right {
        margin-right: .5rem;
    }
    .nav-item img {
        max-height: 1.75rem;
    }
}
